@charset "UTF-8";


body{
    background-color: #022541;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Inter', Arial, sans-serif;
    
}

header{
    background-color: #F0F2F3;
    width:99%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 5px;
    
}
header h2{
    margin: 0;
    float: left;
    font-family: 'Space Grotesk',Arial, sans-serif;
}
nav{
    float: right;
}
nav ul li{
    float: left;
    width: 80px;
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
}

.clear{
    clear: both;
}

main{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    min-height: 500px;
    color: white;
    
}

main article h1{
    margin: 0 0 15px 0;
    font-family: 'Space Grotesk', Arial, sans-serif;
    text-align: center;
    font-weight: bold;

  
}

main article p{
    line-height: 1.6;
    font-size: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box-links{
    margin-top: 80px;
}

.links-box{
    float: left;
    width: 29%;
    margin: 1.5%;
    padding: 30px;
    box-sizing: border-box;
    background-color:#27445C;
    text-decoration: none;
    color: #F0F2F3;
    border-radius: 50px;
    opacity: 1;
    text-align: center;
}

.links-box h3{
    margin: 0 0 10px 0;
}

.links-box p{
    margin: 0;
}

.links-box:hover{
    background-color: #F0F2F3;
    color: black
    

}   
footer{
   background-color: #F0F2F3;
    width:97%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
}

footer h5{
    text-align: center;
}